# Pandas Data Input/Output with CSV

#### - read csv files & save outputs

In [9]:
# read a csv file ----> should pass in exact location of the csv files in >pd.read_csv('exact location of csv') method

import numpy as np
import pandas as pd

In [3]:
# pwd ---> gives the exact locatom we re on i.e present working directorry

In [4]:
# ls --> gives list of files/folders under cuurent pwd

In [5]:
# for working with pandas in .py files --->  use ** os module(builtin operating system module in yphton) 

import os

In [6]:
os.getcwd() ---> gives the location of pwd

'/drive'

In [36]:
# read csv

df = pd.read_csv('example.csv')

In [37]:
df # ---> return a dataframe, i.e pandas automativcally read heades by inferring (default)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [38]:
# if we dont want pandas to headers in csv

pd.read_csv('example.csv', header=None)  # ---> pandas treat header in csv as row entrie data

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [39]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [40]:
# we want a column in csv to be a index instead of default index by pandas
df = pd.read_csv('example.csv', index_col=0)  #--> turns column at index 0 in csv as index in dataframe

In [41]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [45]:
# saving dataframe as csv
df.to_csv('SaveExample.csv')   # ----> pandas creates & saves dataframe df as the new csv file call, eg- SaveExample.csv

# ---> Pandas saves in index in datafranes as column in csv by default

In [46]:
new = pd.read_csv('SaveExample')

In [47]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [51]:
df = pd.read_csv('example.csv')

In [52]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [53]:
df.to_csv('example2.csv')   #---> saves index also in csv by default

In [54]:
pd.read_csv('example2.csv')  # ----> read example2.csv we saved & createf from df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [55]:
# NB - i.e, we dont index in dataframes to be save in new csv file 

df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [58]:
df.to_csv('exaple2.csv', index=False)  # ----> over-writing the example2.csv file, dont save pandas index this time

In [59]:
pd.read_csv('exaple2.csv')  # ---> we'll index is not in dataframe is not save ithis time

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [60]:
# this is it for data input / ooutput ( read & write) with csv in pandas :)